openapi: 3.1.0
info:
  title: Intercom Admins Segments API
  description: The Intercom API provides programmatic access to the Intercom AI-powered customer service platform. It enables developers to manage contacts, companies, conversations, articles, segments, messages, and data events, and to build seamless integrations with the Intercom Help Desk and Messenger.
  version: '2.15'
  contact:
    name: Intercom Developer Support
    url: https://developers.intercom.com/
servers:
- url: https://api.intercom.io
  description: Production (US)
- url: https://api.eu.intercom.io
  description: Europe
- url: https://api.au.intercom.io
  description: Australia
security:
- bearerAuth: []
tags:
- name: Segments
  description: Access user and company segments.
paths:
  /segments:
    get:
      operationId: listSegments
      summary: List segments
      tags:
      - Segments
      responses:
        '200':
          description: Segments list returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  segments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Segment'
components:
  schemas:
    Segment:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        name:
          type: string
        created_at:
          type: integer
        updated_at:
          type: integer
        person_type:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Intercom Developer Documentation
  url: https://developers.intercom.com/docs/
